@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family = Bebas + Neue & display = swap');

@font-face {
    font-family: 'Android';
    src: url('../exe09/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

    /* './' SIGNIFICAR PASTA ATUAL... '../ SIGNIFICAR PASTA ANTERIOR*/

:root{ /*TUDO QUE FOR DEFINIDO AQUI DENTRO, SERÁ PARA A PÁGINA TODA//TODAS AS VARIAVES DEVE COMEÇAR COM "--"*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:  'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
*{
    margin: 0px;
        padding: 0px;
}
body{
    background-color:var(--cor1);
        font-family: var(--fonte-padrao);
}

/* a.externo::after{
    content: '\00A0\1F517';
} esse seria o certo para por aquele favico de link*/
header{
        min-height: 150px;
            text-align: center;
                background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
                    padding-top: 30px;
}
header > h1{
    color:white;
        font-family: var(--fonte-destaque);
                text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
                    margin-bottom: 20px;
                        font-size: 3em;
                            font-weight: normal;
        }
header > p{
    color:white; 
        font-family: var(--fonte-destaque);
            font-size: 1.2em;
                max-width: 600px;
                    margin: auto;
                        text-align: center;
                        padding-right: 10px;
                    padding-left: 10px;
                text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
            margin-bottom: 20px;
}
nav > a{
    text-decoration: none;
        color: var(--cor1);
            padding: 10px;
                font-weight: bold;
            border-radius: 5px;
        transition-duration: .5s ;              
}
nav a:hover{
        color:var(--cor5);
            background-color: var(--cor3);
}
nav a:active{
    color:blue;
}
nav{
    background-color: var(--cor5);
        padding: 10px;
            box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}
main{
    min-width: 300px;
        max-width: 1000px;
            margin: auto;
                background-color: white;
                    padding: 20px;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
                        margin-bottom: 25px;
                    border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
}
main h1{
    color: var(--cor4);
        font-family: var(--fonte-android);
            padding: 10px;
                font-size: 1.8rem;
                    font-weight: normal;
}
main h2{
    font-family: var(--fonte-android);
        color: var(--cor4);
            background-image: linear-gradient(to right, var(--cor1), transparent);
                font-weight: normal;
                    text-indent: 8px;
                        font-weight: normal;
}
article a > img.favi{
    padding-left: 5px;
}
main strong{
    color: var(--cor4);
        font-weight: bold;
            background-color: var(--cor1);
                padding: 2px 6px;
}
main a.verde{
    color: var(--cor5);
        text-decoration: none;
            background-color: var(--cor1);
                font-weight: bold;
                    padding-right: 8px;
                        padding-left: 8px; 
}
a.verde:hover{
    text-decoration: underline;
        color:var(--cor4);
}
a.verde:active{
    color: blue;
}
main img.pequena{
    max-width: 350px;
        display: block;
            margin:auto;
}
div.video{
    position: relative;
        background-color: var(--cor4);
            height: 0px;
                margin: 0px -20px 30px -20px;
            padding-bottom: 59%;
}
div.video > iframe{
    position: absolute;
        top: 5%;
            left: 5%;
                width: 90%;
                    right: 90%;
                        align-items: center;
}
ul{
    list-style-type:'\2714\0020\0020'; /*quando põe a ' \ ' mudar para o iconir \0020\ significar espaço e além, essa tag não é compativo com todos os navegadores*/
        columns: 2 ;
            list-style-position: inside;
}
article picture > img{
    width: 100%;
    
}
main p {
    text-align: justify;
        margin: 15px 0px;
            text-indent: 30px;
                line-height: 1.5em;
                    font-size: 1em;
}
article h2{
    background-color: var(--cor0);
}
aside {
    background-color: var(--cor1);
        border-radius: 10px;      
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
}
aside p{
    padding: 15px;
}
aside ul {
    padding: 10px;
}
aside h3{
    background-color: var(--cor4);
        color: white;
            padding: 10px; /* esse seria o certo a se fazer!!! padding: -10px -10px 0px -10px;
                              border-radius: 10px 10px 0px 0px */
                border-top-right-radius: 10px;
                    border-top-left-radius: 10px;   
}
aside strong{
    color: var(--cor3);
}
aside p.br{
    color: var(--cor2);
}
#paragrafo{
    padding: 15px;
}
footer{
    background-color: var(--cor5);
        color: white;
}
footer p{
    text-align: center;
        padding: 8px;
}
footer p > a{
    color: white;
        text-decoration: none;
}
  